.Results {
    position: absolute;
    top: 223px;
    left: 79px;
    width: 1221px;
    height: 74px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-bottom: 2px solid #E5ECF5;
    margin-left: 21.11px;
    margin-right: 72px;
}

.ResutlsContent {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 440px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow: scroll;
    position: relative;
    vertical-align: middle;
}

.EmptyResults {
    position: absolute;
    top: 283px;
    left: 100px;
    width: 1194px;
    height: 185px;
}

.BeginLabel {
    position: absolute;
    top: 363px;
    left: 561px;
    height: 21px;
    text-align: center;
    font: normal normal bold 16px/20px Clear Sans;
    letter-spacing: 0.4px;
    color: #4C6083;
    opacity: 1;
}

.AuthorLabel {
    position: absolute;
    margin-left: 18.89px;
}

.CommitLabel {
    position: absolute;
    margin-left: 211.89px;
}

.MessageLabel {
    position: absolute;
    left: 405.89px;
}

.CreatedLabel {
    position: absolute;
    left: 890.89px;
}

.LabelFont {
    top: 51.78px !important;
    text-align: left;
    font: normal normal normal 10px/19px Clear Sans;
    letter-spacing: 0px;
    color: #7E90B2;
    opacity: 1;
}

.IndividualResult {
    height: 50px;
    border-bottom: 1px solid #E5ECF5;
}

.Avatar {
    position: absolute;
    border-radius: 50%;
    height: 28px;
    left: 18.89px;
    margin-top: 11.5px;
    
}

.FontResults {
    text-align: left;
    font: normal normal normal 14px/17px Clear Sans;
    letter-spacing: 0px;
    color: #374249;
    line-height: 19px;
    opacity: 1;
}

.AuthorResult {
    font-weight: bold;
    position: absolute;
    left: 61.89px;
    margin-top: 16px;
    width: 140px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.CommitResult {
    position: absolute;
    left: 211.89px;
    margin-top: 16px;
}

.MessageResult {
    position: absolute;
    left: 399.89px;
    margin-top: 16px;
    width: 436px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.CreatedResult{
    position: absolute;
    left: 890.89px;
    margin-top: 16px;
}

.Loading {
    height: 25px;
    width: 25px;
    margin-left: 600px;
    margin-top: 10px;
}

.EndLabel {
    font: normal normal bold 16px/20px Clear Sans;
    letter-spacing: 0.4px;
    color: #4C6083;
    height: 25px;
    width: 25px;
    margin-left: 600px;
    margin-top: 10px;
}
