.Search {
    width: 100%;
    height: 160px;
    top: 63px;
    left: 79px;
    background: #F4F9FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.ComListLabel {
    position: absolute;
    top: 95px;
    left: 100px;
    width: 150px;
    height: 33px;
    text-align: left;
    font: normal normal bold 24px/26px Clear Sans;
    letter-spacing: 0px;
    color: #374249;
    opacity: 1;
}

.SearchLabel {
    position: absolute;
    color: #7E90B2;
    top: 143px;
    left: 103px;
    width: 45px;
    height: 19px;
    text-align: left;
    font: normal normal normal 14px/20px Clear Sans;
    letter-spacing: 0.35px;
    opacity: 1;
}

.SearchInput {
    position: absolute;
    color: black !important;
    top: 168px;
    left: 103px;
    width: 276px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5ECF5;
    border-radius: 3px;
    opacity: 1;
    padding: 6.5px 0 6.5px 16px;
    line-height: 20px;
    font-size: 14px;
}

.SearchInput::placeholder {
    color: #B6C6E0;
}